.dictionary-show-page {
  width: 90%;
  height: 100vh;
  color: #555555;
  padding: 15vh;
  margin-top: 5vw;
}

.dictionary-show-btn {
  padding-bottom: 15px;
}

.dictionary--btn {
  display: inline-block;
  text-decoration: none;
  background: #FF82B2	;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #FF82B2	;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  margin-right: 50px;
}

.dictionary--btn:hover {
  border-style: dashed;
}

/*content/new.htmlでも使用*/
.back--btn {
  display: inline-block;
  text-decoration: none;
  background: #66CCFF	;
  color: #3366FF;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #66CCFF	;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  margin-left: 50px;
  margin-top: 50px;
}

.back--btn:hover {
  border-style: dashed;
}

.destroy-btn {
  display: inline-block;
  text-decoration: none;
  background: #FF6666	;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #FF6666	;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  margin-left: 50px;
}

.destroy-btn:hover {
  border-style: dashed;
}

.good-edt-btn {
  display: flex;
}

.good-btn {
  display: inline-block;
  text-decoration: none;
  background: #FF0000 ;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #FF0000	;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  margin-left: 50px;
  margin-top: 50px;
}

.good-btn::before,
.good-btn::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
}
/* ボタンホバー時のスタイル */
.good-btn:hover {
  background-color: #fff;
  border-color: #ef4b53;
  color: #ef4b53;
}

.good-count {
  margin-left: 50px;
  margin-top: 30px;
}

.edition-btn {
  display: inline-block;
  text-decoration: none;
  background: #FFD700	;
  color: #FF9900;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #FFD700	;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  margin-left: 50px;
}

.edition-btn:hover {
  border-style: dashed;
}

.login-show-btn {
  display: flex;
}